<h2>ログインフォーム</h2>
&nbsp
<%= form_with(scope: :session, url: sessions_path,local: true) do |f| %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class:"form-control" ,placeholder: "info@example.com" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class:"form-control" %>
          </div>
      </div>
    </div>    
    <div class="row center-block text-center">
        <%= f.submit "ログイン" %>
    </div>
<% end %>