<h2>登録フォーム</h2>
&nbsp
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <%= f.label :name, "お名前" %>
            <%= f.text_field :name, class:"form-control" ,placeholder: "すずき　たろう" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class:"form-control" ,placeholder: "info@example.com" %>
          </div>
          <div class="form-group">
            <%= f.label :user_image, "あなたのイメージ画像" %>
            <%= f.file_field :user_image, class:"form-control" ,placeholder: "info@example.com" %>
            <%= f.hidden_field :user_image_cache %>
          </div>
          <div class="form-group">
            <%= f.label :password, "ご希望のパスワード" %>
            <%= f.password_field :password, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "もう一度ご希望のパスワードを入力してください" %>
            <%= f.password_field :password, class:"form-control" %>
          </div>
      </div>
    </div>
    
    <div class="row center-block text-center">
        <%= f.submit "新規登録" %>
    </div>
  </div>
<% end %>