<article class="article">
  <% @posts.each do |post| %>
    <div class="part-article">
      <div class="header-title">
        <%= image_tag(post.user.user_image.url, class: "member-img") if post.user.user_image && post.user.user_image.url %>
        <span class="member-name"><%= post.user.name %></span>
      </div>
      <div class="post-image">
        <%= image_tag(post.post_image.url) if post.post_image && post.post_image.url %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
      <% if post.user.id != current_user.id %>
        <div class="like-mark">
          <%= link_to "この投稿の詳細をチェック", post_path(post.id), class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
      <% if post.user.id == current_user.id %>
        <div class="edit-destroy">
          <%= link_to "編集", edit_post_path(post.id),class: "btn btn-info" %>
          <%= link_to "削除",  post_path(post.id), method: :delete, 
          data: {confirm: "本当に削除して宜しいですか？"}, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  <% end %>
</article>

